name: test label

on:
  pull_request:
    types: [labeled]

jobs:
  test-label:
    timeout-minutes: 30
    if: contains(github.event.pull_request.labels.*.name, 'test')
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.42.2
      - uses: ./
        with:
          working_directory: tests/failure
          github_comment: "true"
